<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.example.qinggong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--有米推荐添加此权限-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!--&lt;!&ndash;多盟所需权限，无此权限多盟将无法展示广告&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->


    <application
        android:allowBackup="true"
        android:name=".model.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:launchMode="singleTask" />
        <activity android:name=".activity.DoneActivity" />
        <activity android:name=".activity.ReadyActivity" />
        <activity android:name=".activity.DetailActivity" />


        <!-- 声明Mogo的Activity -->
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|keyboardHidden"></activity>
        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <service android:name="net.youmi.android.BoService"></service>
        <activity
            android:name="net.youmi.android.BoBrowser"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <!-- 声明多盟的Activity -->
        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!--应用汇-->
        <!--<meta-data-->
            <!--android:name="appchina"-->
            <!--android:value="10050"></meta-data>-->
        <!--机锋-->
        <!--<meta-data-->
            <!--android:name="gfan"-->
            <!--android:value="10020"></meta-data>-->
        <!-- 91-->
        <!--<meta-data-->
            <!--android:name="91sj"-->
            <!--android:value="10110"></meta-data>-->
        <!-- 华为-->
        <!--<meta-data-->
            <!--android:name="huawei"-->
            <!--android:value="10220"></meta-data>-->
        <!-- 腾讯-->
        <!--<meta-data-->
            <!--android:name="tap"-->
            <!--android:value="10360"></meta-data>-->
        <!-- 小米-->
        <!--<meta-data-->
            <!--android:name="xiaomi"-->
            <!--android:value="10440"></meta-data>-->
        <!-- 联想市场-->
        <!--<meta-data-->
            <!--android:name="lenovo"-->
            <!--android:value="10040"></meta-data>-->
        <!-- 魅族商店-->
        <!--<meta-data-->
            <!--android:name="meizu"-->
            <!--android:value="10280"></meta-data>-->
    </application>

</manifest>
